{% import '_includes/forms.twig' as forms %}

<div class="buttons" style="padding-bottom: 2rem; border-bottom: 1px solid #ccc;">
	<form class="utility" method="post" accept-charset="UTF-8">
		{{ csrfInput() }}
		{{ actionInput('meilisearch-connect/sync/settings-all') }}
		<button type="submit" class="btn submit">{{ 'Sync All Settings'|t('meilisearch-connect') }}</button>
	</form>
	<form class="utility" method="post" accept-charset="UTF-8">
		{{ csrfInput() }}
		{{ actionInput('meilisearch-connect/sync/refresh-all') }}
		<button type="submit" class="btn submit">{{ 'Refresh All Indices'|t('meilisearch-connect') }}</button>
	</form>
	<form class="utility" method="post" accept-charset="UTF-8">
		{{ csrfInput() }}
		{{ actionInput('meilisearch-connect/sync/index-all') }}
		<button type="submit" class="btn submit">{{ 'Sync All Indices'|t('meilisearch-connect') }}</button>
	</form>
	<form class="utility" method="post" accept-charset="UTF-8">
		{{ csrfInput() }}
		{{ actionInput('meilisearch-connect/sync/flush-all') }}
		<button type="submit" class="btn submit">{{ 'Flush All Indices'|t('meilisearch-connect') }}</button>
	</form>
</div>
{% for handle, index in indices %}
	<div style="margin-bottom: 2rem">
		<h2>Handle: {{ handle }}</h2>
		<p>Index ID: <strong>{{ index.indexId }}</strong></p>
		<p>Document count: <strong>{{ index.documentCount }}</strong></p>
		<div class="buttons">
			<form class="utility" method="post" accept-charset="UTF-8">
				{{ csrfInput() }}
				{{ actionInput('meilisearch-connect/sync/settings') }}
				{{ hiddenInput('handle', handle) }}
				<button type="submit" class="btn submit">{{ 'Sync Settings'|t('meilisearch-connect') }}</button>
			</form>
			<form class="utility" method="post" accept-charset="UTF-8">
				{{ csrfInput() }}
				{{ actionInput('meilisearch-connect/sync/refresh') }}
				{{ hiddenInput('handle', handle) }}
				<button type="submit" class="btn submit">{{ 'Refresh Index'|t('meilisearch-connect') }}</button>
			</form>
			<form class="utility" method="post" accept-charset="UTF-8">
				{{ csrfInput() }}
				{{ actionInput('meilisearch-connect/sync/index') }}
				{{ hiddenInput('handle', handle) }}
				<button type="submit" class="btn submit">{{ 'Sync Index'|t('meilisearch-connect') }}</button>
			</form>
			<form class="utility" method="post" accept-charset="UTF-8">
				{{ csrfInput() }}
				{{ actionInput('meilisearch-connect/sync/flush') }}
				{{ hiddenInput('handle', handle) }}
				<button type="submit" class="btn submit">{{ 'Flush Index'|t('meilisearch-connect') }}</button>
			</form>
		</div>
	</div>

{% endfor %}
